nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: aqua;
  min-height: 10vh;
}

.navlinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
